<div class="sidebar" id="sidebar">

    <div class="logo-section">

        <div class="company-logo">
            <div class="logo-circle">
                <i class="bi bi-building-fill-gear"></i>
            </div>

            <div class="company-name">
                <span class="company-title">SRI DHEEPAM</span>
                <span class="company-subtitle">Manufacturing ERP</span>
            </div>

        </div>

    </div>

    <ul class="menu-list">

        <li>
            <a href="/">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="menu-heading">
            Masters
        </li>

        <li>
            <a href="/company">
                <i class="bi bi-building"></i>
                <span>Company</span>
            </a>
        </li>

        <li>
            <a href="/raw-materials">
                <i class="bi bi-box"></i>
                <span>Raw Materials</span>
            </a>
        </li>

        <li>
            <a href="/products">
                <i class="bi bi-bag"></i>
                <span>Products</span>
            </a>
        </li>

        <li>
            <a href="/suppliers">
                <i class="bi bi-truck"></i>
                <span>Suppliers</span>
            </a>
        </li>

        <li>
            <a href="/customers">
                <i class="bi bi-people"></i>
                <span>Customers</span>
            </a>
        </li>


        <li class="menu-heading">
            Transactions
        </li>

        <li>
            <a href="/purchase">
                <i class="bi bi-cart-plus"></i>
                <span>Purchase</span>
            </a>
        </li>

        <!-- <li>
            <a href="/production">
                <i class="bi bi-gear"></i>
                <span>Production</span>
            </a>
        </li> -->

        <li>
            <a href="/sales">
                <i class="bi bi-receipt"></i>
                <span>Sales</span>
            </a>
        </li>
<!-- 
        <li>
            <a href="/expenses">
                <i class="bi bi-cash"></i>
                <span>Expenses</span>
            </a>
        </li> -->

        <!-- =======================================
        REPORTS
======================================== -->

        <li class="menu-heading">
            Reports
        </li>

        <li>
            <a href="/purchase-reports">
                <i class="bi bi-file-earmark-bar-graph"></i>
                <span>Purchase Reports</span>
            </a>
        </li>

        <li>
            <a href="/sales-reports">
                <i class="bi bi-cart-check"></i>
                <span>Sales Report</span>
            </a>
        </li>

        <li>

            <a href="/monthly-purchase-report">

                <i class="bi bi-calendar3"></i>

                Monthly Purchase

            </a>

        </li>


        <li>
            <a href="/monthly-sales-report">
                <i class="bi bi-calendar2-week"></i>
                Monthly Sales
            </a>
        </li>

    </ul>

</div>